* {
	padding: 0;
        margin: 0;
}
 
nav {
        overflow: hidden;
}
 
nav li {
	float: left;
	display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 16px;
}
 
nav li a {
	display: block;
        padding: 20px;
        color: #fff;
        text-decoration: none;
}
 
nav li:hover {
         background: #378fd9;
         cursor: pointer;
}

body {
	font-family: Arial, Verdana, sans-serif;
	background-image: url("../img/wallpaper.jpg");
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

.caption-nav > header {
        background: #A8CBCD;
        width: 100%;
        height: 58px;
        position: fixed;
        z-index: 1000;
}

table {
	border: none;
}

.tr { 
	margin-top: 50px;
	margin-right: 50px;
}

.th-nav {
	background: #A8CBCD;
        width: 100%;
        height: 58px;
        position: fixed;
        z-index: 1000;
}

.description {
	background: #A8CBCD;
	padding: 11px;
	width: 30%;
	height: 220px;
	box-shadow: 2px;
	line-height: 20px;
	border-width: 3px;
	border-color: #fff;
	z-index: 2;
	border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        border: 5px solid #e7e7e7;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
}

.description-title {
	font-family: ;
	font-size: 20px;
}

.about {
	background: #A8CBCD;
	padding: 11px;
	width: 30%;
	height: 220px;
	box-shadow: 2px;
	line-height: 20px;
	/*position: relative;
	top: ;
	bottom: 50px;
	left: 600px;
	right: ;*/
	border-width: 3px;
	border-color: #fff;
	z-index: 2;
	border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        border: 5px solid #e7e7e7;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
	-o-transition: all 2s ease;
        transition: all 2s ease;
} 

.about-title {
	font-family: ;
	font-size: 20px;
}

.more a {
	background: #fff;
	color: #000;
	text-decoration: none;
	padding: 5px;
	text-align: right;
	border-radius: 21px 21px 21px 21px;
        -moz-border-radius: 21px 21px 21px 21px;
        -webkit-border-radius: 21px 21px 21px 21px;
        border: 0px solid #000000;
}

.more a:hover {
	background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.menu a:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.submenu {
	visibility: hidden;
	position: absolute;
	background: #000000;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: #ffffff;
	text-decoration: none;
	font-family: Arial;
} 

.header-top{
	width: 100%;
	background: #378FD9;
	margin: 0 0 0 0;
}

.image {
	-webkit-filter: invert(1) ;
	filter: invert(1) ;
}

.footer {
	width: 100%;
	position: relative;
	top: 300px;
	height: 300px;
}

.copyright {
	background: #A8CBCD;
	color: #000;
	width: 100%;
	padding: 10px;
	text-align: center;
	position: relative;
	top: 300px;
}

.lessons {
	background: #A8CBCD;
	color: #000;
	width: 100%;
	margin-right: 15px;
	padding: 10px;
	font-family: ;
	font-size: 20px;
	text-align: left;
	position: relative;
	top: 300px;
}
